[submodule "electricity_from_stream"]
	path = electricity_from_stream
	url = https://github.com/worlddevelopment/electricity_from_stream.git
[submodule "shoes_from_trash"]
	path = shoes_from_trash
	url = https://github.com/faerietree/shoes_from_trash.git
